@use '/src/styles/variables' as *;
@use '/src/styles/mixings' as *;
@use '/src/styles/animations' as *;

.button {
  border: none;
  position: absolute;
  top: 40%;
  background-color: transparent;
  z-index: 9999;
  cursor: pointer;
  @include breakpoints(largescreens) {
    left: 7%;
  }
  @include breakpoints(desktop) {
    left: 6%;
  }
  @include breakpoints(laptop) {
    left: 14%;
  }
  @include breakpoints(mobile) {
    top: 14.8rem;
    left: 6%;
  }
  @include breakpoints(tablet) {
    top: 20%;
    left: 1.5rem;
  }
}
