@use '/src/styles/variables' as *;
@use '/src/styles/mixings' as *;
@use '/src/styles/animations' as *;

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -65rem;
  top: 0;
  @include breakpoints(laptop) {
    left: -60rem;
  }
  @include breakpoints(mobile) {
    display: none;
  }

  &__img {
    border-radius: 25px;
    @include breakpoints(largescreens) {
      max-width: 90%;
      max-height: 100%;
    }
    @include breakpoints(desktop) {
      max-width: 80%;
      max-height: 100%;
    }
    @include breakpoints(laptop) {
      max-width: 65%;
      max-height: 100%;
    }
  }
}
